
<div class="jumbotron">
	<h1>Welcome To My Pinterested App!</h1>

	<p></p>
	<button type="button" class="btn btn-default">Login</button>
	<button type="button" class="btn btn-primary">Join</button>
</div>